@charset "UTF-8";
/*import*/
/*resetamos los valores del navegador*/
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/*variables*/
/* definimos propiedades de los encabezados*/
.encabezado {
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(19, 134, 19);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* sacamos el subrayado a todos los enlaces*/
a {
  text-decoration: none;
}

/*aplicamos color gris, familia de fuente Poppins a todos los parrafos por defecto*/
p {
  color: #626262;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 5px;
}

h4 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

/*aplicamos estilo diferente al titulo del indice*/
.intro {
  color: black;
  font-weight: 300;
  text-align: center;
}

/*aplicamos estilo de texto negro para descripcion de productos*/
.producto {
  /* background-color: aqua; */
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  margin: 0px;
}

/*defino una clase para tamaño de img de productos*/
.boxProduct {
  width: 300px;
  display: inline-block;
  margin: 20px;
  transition: width 300ms;
}

/*defino una clase para tamaño de img de productos*/
.imagenProducto {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.boxProduct:hover {
  background-color: aqua;
  width: 350px;
}

/*defino un class para color de textos sobre fondo de color*/
.textoBlanco {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
}

/*definimos un contenedor para el banner de quienes somos*/
.contenedorBanner {
  background-color: #3da04e;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*defino un class para color de textos sobre fondo blanco*/
/*creamos una clase para subtitulos en negro*/
.subtitulo, .subtituloEnNegro, .subtituloEnColor {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.subtituloEnColor {
  color: #3da04e;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

.subtituloEnNegro {
  margin: 50px 50px 10px 50px;
  padding: 50px 50px 10px 50px;
  text-align: center;
}

/* inicio estilos del footer*/
/*definimos una clase footer general*/
.footer, .centroFooter {
  display: flex;
  background-color: rgb(37, 36, 36);
  justify-content: center;
}

/*definimos una clase para centrar el footer*/
.centroFooter {
  flex-direction: row;
  flex-wrap: wrap;
  width: 1300px;
}

/*definimos el color del texto en el footer*/
.textoFooter {
  color: #626262;
}

.conTextFooter {
  display: flex;
  align-items: center;
}

.logoFooter {
  width: 200px;
  margin: 10px;
  padding: 10px;
}

/*definimos un contenedor de iconos*/
.iconContent {
  display: flex;
  align-items: center;
}

/*defino un tamaño para iconos*/
.icono {
  width: 40px;
}

/*aplicamos el fondo al footer*/
.fondoOscuro {
  background-color: rgb(37, 36, 36);
}

/* fin estilos del footer*/
/*introducimos una imagen como fondo*/
.fondoImagen {
  background-image: url("../imagenes/sem.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*defino una clase para aplicar un fondo claro*/
.fondoClaro {
  background-color: rgb(255, 255, 235);
}

/*definimos una clase para la imagen de portada*/
.portada {
  width: 100%;
  height: auto;
}

/* definimos una clase para las imagenes de Unidades de Negocios*/
.imagenMediana {
  width: 100%;
}

/*defino una clase para los contenedores de texto*/
.parrafoCentrado {
  background-color: rgba(245, 245, 220, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*defino un contenedor para imagen sin margenes*/
.contenedorImagen {
  height: auto;
  padding: 0;
}

.contenedorTexto {
  background-color: rgba(245, 245, 220, 0.397);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contTextoGrande {
  width: 950px;
  height: 425px;
  background-color: rgba(245, 245, 220, 0.397);
  display: inline-block;
  overflow: auto;
}

/*Inicio Header*/
.header {
  display: flex;
  justify-content: center;
  background-color: white;
  /*definimos un contenedor para centrar el header*/
}
.header div.centroHeader {
  width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* creamos una clase para el logo del header*/
}
.header div.centroHeader .logo {
  width: 300px;
  margin: 10px;
  padding: 10px;
}
.header div.centroHeader nav.navbar {
  display: flex;
  align-items: center;
  /*check-menu*/
}
.header div.centroHeader nav.navbar #checkbox-menu {
  display: none;
}
.header div.centroHeader nav.navbar label.menu {
  display: none;
  font-size: 3rem;
  color: black;
  cursor: pointer;
}
.header div.centroHeader nav.navbar ul {
  display: flex;
}
.header div.centroHeader nav.navbar ul li {
  padding: 20px;
  margin: 5px;
  list-style: none;
}
.header div.centroHeader nav.navbar ul li a.nav-item {
  color: #3da04e;
  font-family: "Montserrat", sans-serif;
}

/*Fin Header*/
/*defino una clase para organizar el contenido de galeria*/
.contenGaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/*defino un tamaño para la galeria*/
.imagenGaleria {
  width: 400px;
  margin: 20px;
}

/* defino una clase para posicionar cajas genericas*/
.boxPosition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contenedorAngosto {
  width: 90%;
  max-width: 1300px;
  background-color: rgba(255, 255, 220, 0.5);
  margin: 10px auto;
}

/* comenzamos a definir un grid para contacto"*/
.containerContacto {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 4fr;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: "encabezadoContact encabezadoContact encabezadoContact encabezadoContact" ". mensaje direct1 ." ". mensaje direct2 ." ". mapsindustrial mapsmaderera .";
}

.encabezadoContact {
  grid-area: encabezadoContact;
}

.mensaje {
  background-color: rgba(245, 245, 220, 0.397);
  border-radius: 10px;
  grid-area: mensaje;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

.direct1 {
  background-color: rgba(245, 245, 220, 0.397);
  border-radius: 10px;
  grid-area: direct1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.direct2 {
  background-color: rgba(245, 245, 220, 0.397);
  border-radius: 10px;
  grid-area: direct2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mapsindustrial {
  background-color: rgba(245, 245, 220, 0.397);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  grid-area: mapsindustrial;
  display: flex;
  flex-direction: column;
}

.mapsmaderera {
  background-color: rgba(245, 245, 220, 0.397);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  grid-area: mapsmaderera;
  display: flex;
  flex-direction: column;
}

.datoH4 {
  margin: 5px;
  padding: 5px;
}
.datoH4 p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.mensaje H3 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
  margin: 5px;
}
.mensaje div {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mensaje .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mensaje .formContainer .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.mensaje .formContainer .form input {
  background-color: rgba(197, 196, 196, 0.2392156863);
  width: 100%;
}
.mensaje .formContainer .form input .input {
  padding: 6px;
  margin: 5px;
  border: none;
}
.mensaje .formContainer .form textarea {
  background-color: rgba(197, 196, 196, 0.2392156863);
  width: 100%;
  min-height: 150px;
}
.mensaje .formContainer .form .input:hover {
  border: 1px solid rgb(37, 36, 36);
}
.mensaje .formContainer .form input[type=submit] {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: bisque;
  width: 30%;
  height: 3rem;
  align-self: flex-end;
}
.mensaje .formContainer .form input[type=submit]:hover {
  background-color: rgb(105, 67, 46);
}

/*fin del estilo grid de contactos*/
/*Inicio de MediaQueries*/
@media (max-width: 480px) {
  .header div.centroHeader {
    width: 100%;
  }
  .header div.centroHeader .logo {
    width: 200px;
    margin: 10px;
    padding: 10px;
  }
  .header div.centroHeader nav.navbar label.menu {
    display: block;
    margin-right: 20px;
  }
  .header div.centroHeader nav.navbar #checkbox-menu:checked ~ ul {
    display: block;
  }
  .header div.centroHeader nav.navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: rgba(64, 65, 65, 0.9);
    border-radius: 20px;
  }
  .portada {
    height: auto;
  }
  .containerContacto {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto 3fr 3fr;
    row-gap: 5px;
    grid-template-areas: "encabezadoContact" "mensaje" "direct1" "direct2" "mapsindustrial" "mapsmaderera";
  }
  .mensaje {
    background-color: rgba(245, 245, 220, 0.397);
    border-radius: 10px;
    grid-area: mensaje;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mensaje div {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mensaje H3 {
    font-size: 1em;
    text-align: center;
    padding: 5px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header div.centroHeader {
    width: 100%;
  }
  .header div.centroHeader .logo {
    width: 200px;
    margin: 10px;
    padding: 10px;
  }
  .header div.centroHeader nav.navbar label.menu {
    display: block;
    margin-right: 20px;
  }
  .header div.centroHeader nav.navbar #checkbox-menu:checked ~ ul {
    display: block;
  }
  .header div.centroHeader nav.navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: rgba(64, 65, 65, 0.9);
    border-radius: 20px;
  }
  .portada {
    height: auto;
  }
  .containerContacto {
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto 2fr 2fr 3fr 3fr;
    row-gap: 5px;
    grid-template-areas: "encabezadoContact encabezadoContact encabezadoContact" ". mensaje ." ". direct1 ." ". direct2. " ". mapsindustrial ." ". mapsmaderera .";
  }
  .mensaje {
    flex-direction: column;
    justify-content: center;
  }
  .mensaje div {
    flex-direction: column;
    align-items: center;
  }
  .mensaje H3 {
    font-size: 1em;
    text-align: center;
    padding: 5px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .parrafoCentrado p {
    font-size: 1em;
    padding: 10px;
  }
  .containerContacto {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto 3fr;
    row-gap: 5px;
    grid-template-areas: "encabezadoContact encabezadoContact" "mensaje mensaje" "direct1 direct2" "mapsindustrial mapsmaderera";
  }
  .mensaje {
    background-color: rgba(245, 245, 220, 0.397);
    border-radius: 10px;
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mensaje div {
    margin: 5px;
    display: flex;
  }
  .mensaje H3 {
    font-size: 1em;
    text-align: center;
    padding: 5px;
  }
  .mensaje .formContainer {
    width: 60%;
  }
}
@media screen and (min-width: 1320px) {
  .mensaje, .direct1, .direct2, .mapsindustrial, .mapsmaderera {
    width: 600px;
  }
  .contenedorImagen {
    width: 600px;
  }
  .contenedorTexto {
    width: 600px;
  }
}
/*Fin MediaQueries*/

/*# sourceMappingURL=style.css.map */
