/*variables*/
$fontSize:30px;
$fontFamilyParrafos: 'Poppins', sans-serif;
$fontFamilyTitulos: 'Montserrat', sans-serif;
$colorParrafo: #626262;
$colorSubtitulo: #3da04e;
$colorFondoTexto:rgba(245, 245, 220, 0.397);